<div class="container article-overview-badge-container">
 <button type="button" class="btn article-overview-badge-button">
  <i class="fa fa-angle-up fa-3x badge-icon-1"></i>
</button>
  <button type="button" class="btn article-overview-badge-button">
  <i class="fa fa-share-alt fa-2x badge-icon"></i>
  <span class="">分享</span>
</button>

  <button type="button" class="btn article-overview-badge-button">
  <i class="fa fa-star fa-2x badge-icon"></i>
  <span class="badge badge-pill badge-danger counter counter-lg">{{collectionNum}}</span>
</button>
  <button type="button" class="btn article-overview-badge-button">
  <i class="fa fa-commenting-o fa-2x badge-icon"></i>
  <span class="badge badge-pill badge-danger counter counter-lg">{{commentNum}}</span>
</button>
  <button type="button" class="btn article-overview-badge-button">
  <i class="fa fa-thumbs-o-up fa-2x badge-icon"></i>
  <span class="badge badge-pill badge-danger counter counter-lg">{{likeNum}}</span>
</button>
</div>
