<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TAF</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/article">技术文章</a>
      </li>
   
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" >联系博主</a>
      </li>
    </ul>
   
    <ul class="navbar-nav ml-auto">
       <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="/login" tabindex="-1" >登录</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isLogin">
        <a class="nav-link dropdown-toggle" href="#" id="currentUserDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{currentUserName}}
        </a>
        <div class="dropdown-menu" aria-labelledby="currentUserDropdownMenuLink">
          <a class="dropdown-item" href="/userprofile">我的档案</a>
          <a class="dropdown-item" [routerLink]="" (click)="logout()">退出</a>
        </div>
      </li>
    </ul>
   
  </div>
</nav>
</div>