<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                     <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label for="username">账号</label>
                                    <input type="text" formControlName="username" placeholder ='使用邮箱地址或者手机号码'
                                     class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" 
                                        [(ngModel)] ="username"/>
                                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.username.errors.required">账号不能为空</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">密码</label>
                                    <input type="password" 
                                    formControlName="password"
                                     [(ngModel)] ="password"
                                     class="form-control" 
                                     placeholder = "密码要求大于8位字母或者数字"
                                     [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">密码不能为空</div>
                                        <div *ngIf="f.password.errors.minlength">密码要求大于8位字母或者数字</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="displayName">昵称</label>
                                    <input type="text" formControlName="displayName" 
                                       [(ngModel)] ="displayName" placeholder ='昵称'
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.displayName.errors }" />
                                    <div *ngIf="submitted && f.displayName.errors" class="invalid-feedback">
                                        <div *ngIf="f.displayName.errors.required">昵称不能为空</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button [disabled]="loading" class="btn btn-primary">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                        注册
                                    </button>
                                    <a routerLink="/login" class="btn btn-link">已有账号</a>
                                </div>
                            </form>
                         </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
              </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->
