<div class ="container article-discuss-container">
  <div class="discuss-input">
    <h2>评论</h2>
    <div class="textarea-container"  *ngIf="isLogin">
        <textarea class="col-md-12 textarea-box "  
        [(ngModel)] = "commentText"
        (change)="valuechange($event.target.value)" 
        ></textarea>
        <div class="submit-button-div ">
          <button class="pull-right" (click)="onSave()" [disabled]="showSubmitButton">提交</button>
        </div>
    </div>
    <div class="noLogin-container" *ngIf="!isLogin">
    注册用户登录后才能发表评论，请 <a  [routerLink]="" (click)="onLogin()">登录</a> 或 <a [routerLink]="" (click)="onRegister()">注册</a></div>
  </div>
  <div class="discuss-list">
    <article-comment-list [articleId]="articleId"></article-comment-list>
  </div>
</div>
