.article-discuss-container {
  padding: 0px;
  .discuss-input{
    padding: 0px;
    padding-top: 15px;
    .textarea-container {
      width: 100%;
    }
  }
  .discuss-list{
    padding-top: 15px;
  }
  
}